body {
	font-size:12px;
}
form input[type=text] {
	border: 1px solid #cccccc;
	margin: 5px;
	width:300px;
}

form input[type=submit]{
	margin-left:8px;
}

form ul{
	margin-right:10px;
	width:850px;
}

form li {
	border-bottom: 1px dashed #ccc;
	list-style: none;
	padding: 5px;
}

form li label{
	margin-right:10px;
}

form .hidden{
	height:0px;
	border:0px;
	padding:0px;
}

.dataTable img{
	width:30px;
	height:30px;
}

.ul-list {
	width: 1000px;
}

.ul-list ul {
	clear: both;
	width: 1500px;
	margin: 0px;
	padding: 0px;
}

.ul-list .header li {
	font-weight: bold;
}

.ul-list li {
	float: left;
	width: 180px;
	border-bottom: 1px dashed #ccc;
	list-style: none;
	padding: 5px;
	height: 35px;
	text-align: center;
}

.ul-list li img {
	height: 23px;
}

#enlargedEditerDialog {
	font-size:12px;
}
#enlargedEditerDialog textarea {
	width:750px;
	height:500px;
}